header,
footer {
  text-align: center;
  background-color: #2b0b4f;
  padding: 1em;
}

header {
  display: flex;
  justify-content: space-between;
}

header a:first-child {
  margin-right: 40px;
}

main {
  padding: 2em;
  background-color: #ffc266;
}

h2 {
  margin-top: 2em;
  color: #2b0b4f;
}

p {
  color: #2b0b4f
}
.pet-btn {
  display: flex;
  margin-top: 1em;
  margin-bottom: 4em;
  justify-content: center;
  gap: 2em;
}

.pet-btn a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  background-color: #2b0b4f;
  color: whitesmoke;
  font-size: 4rem;
  border-radius: 15%;
  padding: 30px 60px;
}

.breeds-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #ffc266;
  padding: 2rem;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.breeds-container button {
  padding: 20px 20px;
}
.red {
  color: tomato;
}
.breed-item {
  display: flex;
}
.breed-item img {
  width: 75px;
  border-radius: 10%;
}
